@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float-delay-1 {
  animation: float 6s ease-in-out 1s infinite;
}

.animate-float-delay-2 {
  animation: float 6s ease-in-out 2s infinite;
}

.gradient-text {
  background: linear-gradient(90deg, #4f46e5, #e11d48);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .gradient-text {
  background: linear-gradient(90deg, #818cf8, #fb7185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.nav-link.active {
  color: #4f46e5;
  font-weight: 500;
}

.dark .nav-link.active {
  color: #818cf8;
}
